example_flow.json
[{"id":"4f1d29d3.4f0318","type":"inject","z":"9ec40f1f.919ee","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":140,"y":140,"wires":[["93bf1a81.fb3da8"]]},{"id":"7b709382.129dbc","type":"function","z":"9ec40f1f.919ee","name":"prepare query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into qcmtable (timestamp, username, experiment, frequency) values ($1, $2, $3, $4)',\n        params: [msg.payload[\"timestamp\"], msg.payload[\"username\"], msg.payload[\"experiment\"], msg.payload[\"frequency\"]],\n    },\n    {\n        query: 'select * from qcmtable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["d7acfbc7.ab0a78"]]},{"id":"d7acfbc7.ab0a78","type":"postgres","z":"9ec40f1f.919ee","postgresdb":"2960eac3.37d786","name":"qcm","output":true,"outputs":1,"x":810,"y":140,"wires":[["eb4c7a8f.353ca8"]]},{"id":"eb4c7a8f.353ca8","type":"debug","z":"9ec40f1f.919ee","name":"","active":true,"console":"false","complete":"false","x":1030,"y":140,"wires":[]},{"id":"93bf1a81.fb3da8","type":"function","z":"9ec40f1f.919ee","name":"create data point","func":"msg.payload = {\n    \"timestamp\": Math.floor(Date.now()/1000),\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"frequency\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["7b709382.129dbc"]]},{"id":"2960eac3.37d786","type":"postgresdb","z":"","hostname":"172.18.0.2","port":"5432","db":"qcm","ssl":false}]
